/*Font used for entire page "Roboto+Condensed"*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('coffee/coffeeShop.jpg');
  background-attachment: fixed;
}

/*Top landing section*/
#landing {
  width: 100%;
  height: 100vh;
  background-image: url('coffee/coffeeShop3.jpg');
  background-repeat: no-repeat;
}


/*Styling for main page AFTER welcome splash*/
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(0,0,0,.7);
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: 0px 3px 3px 0px rgb(0,0,0,.2);
}

sidebar {
  position: fixed;
  right: 0;
  top: 68px;
  height: 100vh;
  background-color: rgb(0,0,0,.7);
  color: white;
  font-size: 2rem;
  padding: 70px;
  text-align: right;
  
}
#cartObject {
  background-color: rgb(107, 60, 33);
  padding: 5px;
  margin: 20px;
  height: 100%;
}
#hideSidebar {
  color: white;
  font-size: 3.5rem;
  border-radius: 2px;
  padding: 5px 15px;
  width: max-content;
}
#cartObject button {
  border: none;
}
#price {
  text-decoration: underline;
}
#grandTotal {
  display: flex;
  justify-content: center;
  align-content: center;
}
label {
  padding: 5px;
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
#total {
  width: max-content;
  color: black;
  background-color: white;
  padding: 5px;
  margin: 10px;
  border: solid 1px rgb(216, 216, 216);
  border-radius: 2px;
}
.cartItem {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 15px;
  margin: 10px;
}
#cartObject #remove {
  font-size: 1.5rem;
  border: solid 1px rgb(46, 46, 46);
  width: max-content;
  margin-left: 10px;
  border-radius: 2px;
}

/*"OUR SELECTION" Styling and logo image*/
#title {
  padding-left: 50px;
  font-size: 3rem;
  height: 100%;
  color: white;
  margin: 0;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
.our {
  color:#a3470a;
}
#house {
  color: rgb(255, 255, 255);
}

/*Style for "GO HOME" button*/
#navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}
#navigation a {
  text-transform: uppercase;
  margin-right: 25px;
  padding: 15px 15px;
  
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  background-color: rgb(163,71,10);
  color:rgb(255, 255, 255);
  
  transition: background-color;
  transition-duration: .2s;
}

#yourHouseContainer {
  height: 100%;
  border-bottom: solid white 10px;
  background-color: rgb(0,0,0,.2);
}
#yourHouse {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  font-size: 3rem;
  width: 40%;
  margin-left: 15%;
  line-height: 1.5;
}
#yourHouse h1 {
  margin: 0;
  margin-top: 50%;
}

#linkContainer {
  display: flex;
  align-items: center;
  margin-right: 35%;
}
#whatsBrewing {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border-radius: 3px;
  border: none;
  background-color: rgb(0,0,0,0);
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
  transition: color .2s;
}
#whatsBrewing a {
  font-family: 'Amatic SC', cursive;
  padding-left: 10px;
  padding-right: 10px;
}
#whatsBrewing:hover {
  color: rgb(163,71,10);
  transition: color;
  transition-duration: .2s;
}

/*Style for 3 amazing brews and coffee bean .pngs*/
#amazeParent {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 100px;
}
#amazeChild {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#amazeChild h1 {
  color:#292012;
}


/*Styling for the side borders around three coffee pictures and <p>s*/
#sideBordersParent {
  text-align: center;
}
#sideBordersChild {
  text-transform: none;
  width: 70%;
  background-color: rgb(255,255,255,.9);;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#sideBordersChild p {
  color: white;
}

/*Styling for three coffee pictures and their <p>s*/
#coffeeSection p {
  /*font-family: 'Archivo Black', sans-serif;*/
  color: #4d3b20;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bolder;
  margin: 0px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  min-width: 250px;
}
#coffeeSection .secondP {
  font-size: 10px;
  line-height: 1.6;
  text-align: left;
  border: solid black 1px;
  border-radius: 2px;
  padding: 10px;
  margin-top: 0;
  background-color: white;
  max-width: 330px;
}
#coffeeSection img {
  box-shadow: 0px 5px 5px 0px #292012;
  width: 100%;
  max-width: 400px;
}


/*Styling needed for the flexboxes*/
.flexParent {
  display: flex;
  flex-wrap: nowrap;
  border-top: solid 1px black;
}
/*Styling for names of brews*/
.flexParent span {
  text-decoration: underline #292012;
  font-style: italic;
}


/*left divs top and bottom*/
.left {
  width: 50%;
  margin: 5%;
  min-width: 100px;
}
/*right divs top and bottom*/
.right {
  /*flexbox to vertically-align <p>s
  also helps to easily center-align and keeps design flexible*/
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 50%;
  margin: 5%;
  margin-top: 10px;
  min-width: 100px;
}
/*Bottom Flexparent style*/
#bottomFlex {
  margin-bottom: 100px;
  border-bottom: solid 1px black;
}


/*Style for disclaimer at the bottom*/
#disclaimer {
  text-align: center;
  padding-bottom: 100px;
}


/*Styling for credit for images used*/
footer {
  text-align: center;
  width: 100%;
  background-color: rgb(200,200,200,.7);
  color: #835d16;
  font-size: .7rem;
  height: 100%;
}
#creditsInfo {
  padding: 10px 50px;
}
#creditsInfo a {
  color: white;
  text-decoration: none;
}

.button {
  background-color:#a3470a;
  border: solid rgb(207, 123, 123) 2px;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 330px;
  min-width: 150px;
}

#cartDiv {
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
/*Media query time!*/
@media screen and (max-width: 600px) {
  #landing {
    height: 100%;
  }

  #amazeParent {
    padding-bottom: 50px;
    margin-bottom: 0;
  }
  #sideBordersChild {
    width: 90%;
    padding-bottom: 0;
    padding-top: 0;
  }
   
  .flexParent {
    flex-wrap: wrap;
    justify-content: center;
  }

  .left {
    min-width: 90%;
  }
  .left img {
    max-width: none;
    min-width: 100%;
  }
  #bottomFlex {
    margin: 0;
  }
   
  .button {
    padding: 8px;
    
  }
}
@media screen and (max-device-width: 900px) {
  #landing {
    height: 100vh;
  }
  #sideBordersChild {
    width: 95%;
  }
}
@media only screen and (max-device-width: 375px), 
only screen and (max-width: 900px) {
  .right {
    display: flex;
    flex-direction: column;
  }
  #coffeeSection .secondP {
    display: none;
  }
  sidebar {
    top: 150px;
  }
}
@media only screen and (max-device-width: 375px){
  /*New Welcome message styling*/

  #landing {
    background-position: 20%;
    background-attachment: fixed;
    background-size: 350%;
  }

  #message {
    font-size: 3rem;
    padding: 10px 20px;
    border: none;
  }
  #clickable {
    font-size: 1.3rem;
    padding: 10px 20px;
  }
  #clickable:hover {
    font-size: 1.1rem;
    transition: all;
    transition-duration: .3s;
  }
  #clickable:active {
    font-size: 1rem;
    background-color: #946817;
    transition: all;
    transition-duration: .1s;
  }

  /*New top bar styling*/
  #header {
    flex-wrap: nowrap;
    justify-content: center;
    height: 150px;
  }
  #title {
   display: flex;
    align-items: center;
  }
  #title span {
    font-size: 6rem;
  }
  #title img {
    height: 2rem;
  }
  #navigation {
    display: none;
  }

  #yourHouse {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
  }
  #yourHouse h1 {
    font-size: 9rem;
  }

  #whatsBrewing {
    margin-top: 30%;
  }

  #whatsBrewing button {
    width: 100%;
  }
  #whatsBrewing a {
    font-size: 6rem;
  }

  /*New "Three Amazing Brews" styling*/
  #amazeParent {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  #amazeChild {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
    border: none;
  } 
  #amazeChild h1 {
    font-size: 2rem;
    border-top: 1px solid #292012;
    padding-top: 10px;
  }
  #amazeChild img {
    display: none;
  }

  /*New coffee section styles*/
  /*Styling for three coffee pictures and their <p>s*/
  #coffeeSection p {
    width: 80%;
  }
  #coffeeSection img {
    box-shadow: 0px 5px 5px 0px #292012;
    width: 100%;
    max-width: 400px;
  }

  .button {
    margin-top: 20px;
  }
  /*This gets rid of the vertical borders on the sides*/
  #sideBordersChild {
    border: none;
    padding: 0;
    width: 100%;
  }
  /*This aligns the content to the center of each flexbox*/
  .flexParent {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 35px;
  }


  /*Changes to the spacing of each div within the flexboxes*/
  .left {
    width: 100%;
    min-width: 100px;
    margin: 0;
  }
  .right {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 100px;
    width: 100%;
  }
  .left img {
    min-width: 90%;
  }
 

  /*Shortening the margins on the bottomflexFarent to look more pleasing on smaller screens*/
  #bottomFlex {
    margin-bottom: 30px;
  }
  /*Makes disclaimer pop a bit more*/
  #disclaimer {
    font-weight: bold;
  }
  #creditsInfo {
    padding: 5px 0px;
    font-size: 1.7rem;
  }
}